<div class="row-fluid">
	<div class="span12">
		<h1><%= @query.name%></h1>
		<br>
		<p class="lead">
			<%= @query.description%>
		</p>
		<br>
		<div id='chart'></div>
		<%= render_chart(@chart, 'chart') %>

		<a href="<%= url_for(:action => 'start', :controller => '/facade') %>" class="btn"><i class="icon-backward"></i> back</a>

	</div>
</div>