.row-fluid
  .span12
    = render partial: "shared/interpreter_header"
    %br
      %p.lead
        = @query.description
      - if @query.data_source
        %p.muted
          Source: #{@query.data_source.name}
      %br
        #chart
        = render_chart(@chart, 'chart')
        %a.btn{:href => url_for(:action => 'start', :controller => '/facade')}
          %i.icon-backward
          back