<div class="row-fluid">
	<div class="span12">
		<h1><%= @query.name%></h1>
		<br>
		<p class="lead">
			<%= @query.description%>
		</p>
		<br>
		<div id='chart'></div>
		<%= render_chart(@chart, 'chart') %>


	</div>
</div>