.card-block
  %h4.card-title
    = query.id
    = query.name
  %p.card-text
    = truncate(query.description, :length => 20  )
  %a.btn.btn-primary{:href => url_for(:action => 'show', :controller => "interpreter/#{query.interpreter}", :id => query.id)} Show data