.row-fluid.pull-xs-left{style: "font-size: 0.8em; min-width:600px; width: #{dashboard_element.width}%; height: #{dashboard_element.height}px"}
  %h2{style: "font-size: 1.5vw;"}
    =dashboard_element.query.name
  .content{id:"query-#{dashboard_element.query.id}"}
