.rvmrc
/.bundle
config/database.yml
/tmp/*
capybara-*.html
pickle-email-*.html
**.orig
*.rbc
/spec/tmp/*
.powrc
/db/*.sqlite3
/public/system/*
*.sassc
.rspec
/coverage/
rerun.txt
/vendor/bundle
.sass-cache
/log/*

.env
.env.development
