.container-fluid
  .row-fluid
    .col-md-12
      = render partial: "shared/interpreter_header"
      %br
  .row-fluid
    .col-md-12
      #chart
      = render partial: "interpreter/#{@query.interpreter}/show"
  .row-fluid
    .col-md-12
      .back_button
        %a.btn.btn-secondary{:href => url_for(:action => 'start', :controller => "/facade" )}
          back
