.container-fluid
  .row-fluid
    .col-md-12
      = render partial: "shared/interpreter_header"
      %br
  .row-fluid
    .col-md-12
      = render partial: "interpreter/#{@query.interpreter}/show"
      %a.btn{:href => url_for(:action => 'start', :controller => '/facade')}
        %i.icon-backward
        back