%h4.card-header
  = query.name
  %span.pull-right
    \#
    = query.id
.card-block
  %p.card-text
    = truncate(query.description, :length => 20  )
.card-footer
  %a.btn.btn-primary{:href => url_for(:action => 'show', :controller => "interpreter/#{query.interpreter}", :id => query.id)} Show data
