<div class="jumbotron">
    <h1>Hello Daviql/h1>
    <p>There should be text here ...</p>
</div>

<div class="row">

<% @queries.each do |q| %>
	<div class="col-md-4">
		<div class="card">
		  <div class="card-block">
		    <h4 class="card-title"><%= q.id %></h4>
		    <p class="card-text"><%= truncate(q.description, :length => 20	) %></p>
		    <a href="<%= url_for(:action => 'show', :controller => "interpreter/#{q.interpreter}", :id => q.id) %>" class="btn btn-primary">Show data</a>

		  </div>
		</div>
	</div>


<% end %>


</div>

