.container
  %div{id:"card_list"}
    %fieldset.form-group
      %input.form-control.form-control-lg.search{:placeholder => "Search", :type => "text"}
        - if @queries.empty?
          .jumbotron
            %h1
              Hello Daviql
            %p
              Just some text
    %ul.list.row
      - @queries.each do |q|
        %li.col-md-4
          .card.query
            = render_card(q)
:javascript
    $(document).ready( function() {
      var options={valueNames:['card-title', 'card-text']};
      var cardlist = new List('card_list', options);
    } );