body{
  padding-top: 100px;
  .start{
    .card{
      height: 250px;
    }
    .card-footer{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      text-align: center;
    }
  }
  .back_button{
    margin-top: 20px;
  }
}

