body{
  padding-top: 70px;
  .start{
    .card{
      height: 250px;
    }
    .card-footer{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      text-align: center;
    }
  }
  .back_button{
    margin-top: 20px;
  }
  .form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .number{
    text-align: center;
  }
  .dashboard{
    h2{
      padding: 10px;
    }
    .content{
      padding:10px;
    }
  }
}

