body{
  padding-top: 100px;
  .start{
    .card{
      min-height: 250px;
    }
    #card_list{
      ul{
        list-style: none;
        padding: 0px;
        li{
        }
      }
    }
  }
  .back_button{
    margin-top: 20px;
  }
}

