.container-fluid
  .row-fluid
    .col-md-12
      = render partial: "shared/interpreter_header"
  .row-fluid
    .col-md-12
      #chart
      = render_chart(@pie_chart.data, 'chart')
      %a.btn{:href => url_for(:action => 'start', :controller => '/facade')}
        %i.icon-backward
        back